body {
  font-family: "Dancing Script", 'Lucida Sans', Verdana, sans-serif;
}

/*////////////////// header ///////////////////////*/
header nav ul {
display: flex;
flex-direction: row;
justify-content: center;
list-style-type: none;
margin: 0.1em;
}

header li {
margin: auto;
}

header li a {
color: black;
font-weight: 900;
letter-spacing: 0.1em;
text-transform: uppercase;
}

.top_menu2 {
background-color: #fff;
padding: 1.2em;

}

/*///////////////// main page images ////////////////////*/
.image_container {
display: flex;
}

div.polaroid {
width: 50%;
margin: auto;
padding: 20px 20px;
border-radius: 50px;
background: #d2d0d0;
box-shadow: inset 16px 16px 32px #959494, 
            inset -16px -16px 32px #ffffff;
}

.polaroid img {
width: 100%;
border-radius: 50px;
}

div.container {
text-align: center;
}

.container p {
font-size: 1.9em;
margin: 0;
}





/*////////////////// Media Queries ///////////////////*/

/* mobile styles */
body {
background-color: #e3e3e3;
}

/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {

}

/* desktop styles  */
@media screen and (min-width: 1200px) {
.main-container {
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
}

}
